{% extends 'app_1/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h1>Заказы клиента {{ client.name }}:</h1>
<ul>

    {% for order in orders %}
    <li><b>Номер заказа №{{ order.id }}</b></li>
            <br>
            <ul>
            {% for product in order.products.all %}
                <li>{{ product }}</li>
            {% endfor %}
                <li><b>Общая стоимость заказа: ${{ order.total_price }}</b></li>
                <br>
            </ul>
    {% endfor %}
</ul>

{% endblock %}