{% extends 'app_1/base.html' %}

{% block title %}Заказы клиента за выбранный период{% endblock %}

{% block content %}
<h1>Заказы клиента {{ client.name }} за последние {{ days }} дней:</h1>
<ul>
    {% for order in products_ %}
    <li><b>Номер заказа №{{ order.id }}. Дата создания заказа {{ order.date_created }}</b></li>
            <br>
            <ul>
            {% for product in order.products.all %}
                <li>{{ product }}</li>
            {% endfor %}
                <li><b>Общая стоимость заказа: ${{ order.total_price }}</b></li>
                <br>
            </ul>
    {% endfor %}
</ul>
{% endblock %}